
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #C1E899, #94DEA5);
    color: #fff;
}
.card {
    background-color: rgba(255, 255, 255, 0.334);
    border: 10px black;
}
.card-header {
    background-color: rgba(255, 255, 255, 0.485);
    border: 10px black;
}
.card-body {
    background-color: rgba(255, 255, 255, 0);
    border: 10px black;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.container { 
    width: 80%; margin: 20px auto; 
    background-color: #e0f7e0; 
    border-radius: 5px; 
    justify-content: right;
    padding: 15px; 
    margin-bottom: 15px; 
} 
.feedback { 
    background-color: #ffffff; 
    border: 10px black;
     border-radius: 5px; 
     padding: 15px; 
     margin-bottom: 15px; 
    } 
     .feedback h3 { 
        margin-top: 0; 
    } 
     .buttons { 
        margin-top: 10px; 
    } 
        .buttons button { 
            background-color: #4CAF50; 
            color: white; 
            border: none; 
            padding: 10px 20px; 
            margin-right: 10px; 
            border-radius: 5px; 
            cursor: pointer;
         } 
            .buttons button.delete { 
            background-color: #f44336; 
        }

            .content {
                flex: 1;
                padding: 20px;
                background-color: #E6F0DC; 
                border-radius: 10px;
              }
              
              .content h3 {
                margin-bottom: 20px;
              }

              table{
                flex: 1;
                padding: 20px;
                background-color: #E6F0DC; 
                border-radius: 10px;    
              }