body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #C1E899, #94DEA5);
    color: #fff;
}
.card {
    background-color: rgba(255, 255, 255, 0.334);
    border: none;
}
.card-header {
    background-color: rgba(255, 255, 255, 0.485);
}
.card-body {
    background-color: rgba(255, 255, 255, 0);
}


.container { 
    width: 80%; margin: 20px auto; 
    background-color: rgba(255, 255, 255, 0.485); 
    border-radius: 5px; 
    justify-content: right;
    padding: 15px; 
    margin-bottom: 15px; 
} 

.content {
    flex: 1;
    padding: 20px;
    background-color: #E6F0DC; 
    border-radius: 10px;
  }
  
  .content h2 {
    margin-bottom: 20px;
  }

  table{
    flex: 1;
    padding: 20px;
    background-color: #E6F0DC; 
    border-radius: 10px;    
  }