body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #C1E899, #94DEA5);
    color: #fff;
}
.card {
    background-color: rgba(255, 255, 255, 0.334);
    border: 1px;
}
.card-header {
    background-color: rgba(255, 255, 255, 0.485);
}
.card-body {
    background-color: rgba(255, 255, 255, 0);
}


.content {
    flex: 1;
    padding: 20px;
    background-color: #E6F0DC; 
    border-radius: 10px;
  }
  
  .content h3 {
    margin-bottom: 20px;
  }

  

.container {
    width: 80%;
    margin: 20px auto;
     background-color: rgba(255, 255, 255, 0.334);;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.title {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
.guidelines {
    margin-bottom: 20px;
}
.guidelines h2 {
    margin-bottom: 10px;
}
.guidelines ul {
    list-style-type: none;
    padding: 0;
}
.guidelines ul li {
    background:#94DEA5;
    margin: 5px 0;
    padding: 10px;
    border-left: 5px solid #4CAF50;
    color:black
}

.header {
    background-color: rgba(255, 255, 255, 0.334);
    padding: 10px 0;
    text-align: center;
}


.report-form {
    margin-bottom: 20px;
}
.report-form h2 {
    margin-bottom: 10px;
}
.report-form label {
    display: block;
    margin-bottom: 5px;
}
.report-form input[type="text"],
.report-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.report-form input[type="file"] {
    margin-bottom: 10px;
}
.report-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.report-form button:hover {
    background-color: #45a049;
}